*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ebeaea;
}

header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    color: white;
    background-color: rgb(56, 150, 180);
}


a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: rgb(47 97 129);
    padding: 10px;
    border-radius: 5px;
}

a:hover{
    background-color: rgb(124, 205, 255);
    color: black;
}



.contenedor-principal{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.tabla{
    border-collapse:collapse;
    margin-top: 20px;
    width: 75%;
}

.filtros{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    background-color: rgb(56, 150, 180);
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.filtros input,select{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.filtros input{
    width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.filtros-fila{
    display: flex;
    padding: 10px;
    gap: 20px;
}

.fila4{
    display: flex;
    flex-direction: column;
}

.duplica input{
    width: 200px;
}

#boton-filtrar{
    border: none;
    font-size: 16px;
    padding: 10px 50px;
    background: rgb(47 97 129);
    color: white;
    border-radius: 10px;
}

#boton-filtrar:hover{
    cursor: pointer;
    background-color: rgb(124, 205, 255);
    color: black;
}

th{
    padding: 3px;
    background-color: rgb(56, 150, 180);
    border: solid 1px black;
    color: white;
}

td{
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
}

td button{
 font-size: 11px;
 border: none;
 padding: 5px;
 color: white;
 border-radius: 3px;
 font-family: Arial, Helvetica, sans-serif;
}

td .boton-editar{
    background-color: rgb(21, 21, 194);
}

td .boton-eliminar{
    background-color: rgb(214, 31, 31);
}





footer{
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

/*
 RGB AZUL OSCURO: 47 97 129
 RGB AZUL CLARO: 56 150 180
*/

/*
    Sites:
    MLA:CELESTE
    MLM:NARANJA
    MLC:AMARILLO

    CANALES:
    CHAT:VERDE
    OFFLINE:CELESTE
    C2C:NARANJA

    TIPO ACUERDO:
    PAGO TOTAL: VERDE
    CONDONACIÓN: MORADO
    PARCELAMENTO: AZUL
    PARCIAL: NARANJA

    TIPO CUMPLIMIENTO:
    EN CURSO: AMARILLO
    CUMPLIDA: VERDE
    INCUMPLIDA: ROJO
*/

.columna-borde{
    border-radius: 20px;
}

.columna-chat{
    background-color: green;
    color: white; 
}

.columna-offline{
    background-color: blue;
    color: white;
}

.columna-c2c{
    background-color: orange;
}

.columna-mla{
    background-color:cornflowerblue;
}

.columna-mlm{
    background-color: darksalmon;
}

.columna-mlc{
    background-color:goldenrod;
}

.columna-pagototal{
    background-color: green;
    color: white;
}

.columna-condonacion{
    background-color:blueviolet;
    color: white;
}

.columna-parcelamento{
    background-color:cornflowerblue;
}

.columna-pagoparcial{
    background-color: darksalmon;
}

.columna-encurso{
    background-color: darksalmon;
}

.columna-cumplida{
    background-color: green;
    color: white;
}

.columna-incumplida{
    background-color: red;
    color: white;
}