*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center; 

}

h1{
    color: white;
    text-align: center;
    place-content: center;
    background-color: rgb(56, 150, 180);
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
}

.contenedor-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px gray;
    width: 400px;
}

.contenedor-inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    text-align: center;
}

.contenedor-inputs div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 18px;
}

#boton-login{
    margin-top: 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: rgb(47 97 129);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

#boton-login:hover{
    cursor: pointer;
    background-color: rgb(124, 205, 255);
    color: black;
}

#error-mensaje{
    text-align: center;
    font-weight: bold;
    color: red;
    min-height: 22px;
    margin-bottom: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.hidden {
  display: none;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 6px solid white;
  border-top: 6px solid rgb(56, 150, 180);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
